{% extends 'discography/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
  <article>
    <h2>Что это?</h2>
    Тут можно посмотреть информацию о нескольких рандомных музыкальных альбомах
  </article>
{% endblock %}